/* fonts */
$thin-font: "Oswald", sans-serif;

/* color */
$background_gray: #afb1b7;
$main_gray: #e4e5e9;
$gray_light: #cbcfd2;
$gray_dark: #393e44;
$block_red: #e31a00;
$block_gray: #7f848a;
$block_yellow: #ecc213;
$block_blue: #392aa9;

/* gap */
$gap_size: 3px;
