/* components */
@import "./reset.scss";
@import "./variables.scss";

/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,700&display=swap");

body {
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-wrap {
  width: 1000px;
  height: 600px;
  border: 7px solid black;
  box-sizing: border-box;
  border-radius: 7px;
}
