/* fonts */
$heading-font: "Dela Gothic One", cursive;
$content-font: "Nunito Sans", sans-serif;

/* font size */
$heading-size: 17px;
$heading-size-post: 20px;
$content-size: 12px;

/* color */
$bg_color: #f0f0f0;
$bar_green: #34e514;

/* gap */
$gap_size: 2px;
